@import url("./default_overide.css");

#main {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 { // gallery title;
        margin: 100px auto 1rem;
        color: burlywood;
    }

    .container {
        background-color: var(--bg-primary);
        border-radius: 10px;
        padding: 3rem 1rem;
        width: min(97vw, 600px);
        display: flex;
        gap: 1rem;
        margin: 0 auto 1rem;
        align-items: start;
        justify-content: start;

        form {
            background-color: var(--bg-primary);
            border-radius: 10px;
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            align-items: center;
            justify-content: start;

            input,
            button {
                width: 100%;
                min-height: 30px;
                padding: 10px;
                border-radius: 3px;
            }

            button {
                background-color: burlywood;
            }
        }

        #image_preview {
            background-position: center;
            background-size: contain;
            background-image: url("/uploads/Ettie-a-1698277769926.jpeg");
            background-repeat: no-repeat;
            flex: 1;
            border: 1px solid burlywood;
            width: 100%;
            min-height: 300px;
            display: flex;
            flex-direction: column;
            position: relative;

            &::before {
                content: "Image preview here";
                color: burlywood;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, calc(-100% - 10px));
                white-space: nowrap;
            }

            span {
                color: burlywood;
            }
        }
    }

    #gallery {
        width: min(97vw, 1224px);
        margin: 2rem auto;
        min-height: 300px;
        padding: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        align-items: center;
        justify-content: center;

        .gallery_image {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border: 1px solid burlywood;
            width: min(100%, 300px, 92vw);
            margin: auto;
            min-height: 300px;
            display: flex;
            flex-direction: column;
            position: relative;

            .del_btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
                color: tomato;
                font-weight: 800;
                font-size: 21px;
                cursor: pointer;
                border: 1px solid tomato;
                border-radius: 30px;
                padding: 3px 7px;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .container {
            gap: 4rem;
            flex-direction: column;
        }
    }
}